[submodule "lib/CoreRandom"]
	path = lib/CoreRandom
	url = https://www.github.com/AmazingCow-Game-Core/CoreRandom.git
[submodule "lib/CoreCoord"]
	path = lib/CoreCoord
	url = https://www.github.com/AmazingCow-Game-Core/CoreCoord
